.item__row {
    position: relative;
}

.spinner {
    background-image: url("@/assets/spinner.gif");
    background-position: center;
    background-repeat: no-repeat;
}

.spinner-page {
    height: 60vh;
}

.spinner-button {
    position: absolute;
    top: 50%;
    left: -45px;
    display: inline-block;
    width: 40px;
    height: 40px;
    background-size: cover;
    transform: translateY(-50%);
}
